.background-shapes{
    &__background{
        position: fixed;
        opacity: .7;
        khtml-opacity: .7;
        moz-opacity: .7;
    
        &--1{
            width: 90%;
            height: 90%;
            top: -10rem;
            left: 10rem;
    
            @include respond(big-desktop){
                top: -10rem; ;
             }
    
            @include respond(tab-land){
                width: 120%;
                height: 120%;
                left: 0;
            }
    
            @include respond(tab-port){
               top: 0 ;
               left: -10rem;
            }
    
            @include respond(phone){
                width: 300%;
                height: 300%;
                left: -130%;
            }
        }
    
        &--2{
            width: 80%;
            height: 80%;
            top: 90rem; 
            left: 70rem;
            opacity: .3;
            khtml-opacity: .3;
            moz-opacity: .3;
    
            @include respond(big-desktop){
                width: 60%;
                height: 60%;
                top: 130rem; 
                left: 130rem;
            }
    
            @include respond(tab-port){
                width: 100%;
                height: 1000%;
                top: 100rem; 
                left: 45rem;
            }
            
            
            @include respond(phone){
                width: 200%;
                height: 200%;
                top: 110rem; 
                left: -5rem;
            }
        }
    
        &--3{
            width: 50%;
            height: 50%;
            top: 150rem; 
            left: -25rem;
            opacity: .4;
            khtml-opacity: .4;
            moz-opacity: .4;
    
            @include respond(tab-port){
                width: 60%;
                top: 200rem;
                left: -20rem;
            }
    
            @include respond(phone){
                width: 100%;
                top: 200rem;
                left: -10rem;
            }
        }
    
        &--4{
            width: 60%;
            height: 60%;
            top: 165rem; 
            left: 60rem;
            opacity: .5;
            khtml-opacity: .5;
            moz-opacity: .5;
    
            
            @include respond(tab-port){
                width: 100%;
                top: 85rem;
                left: -5rem;
            }
            
            @include respond(phone){
                top: 155rem;
            }
        }
    
    
    
        &--5{
            width: 50%;
            height: 50%;
            top: 250rem; 
            left: 90%;
            transform: rotate(90deg);
    
            @include respond(tab-port){
                width: 80%;
                top: 230rem;
            }
    
            @include respond(phone){
                width: 100%;
                top: 250rem; 
            }
        }
    
        &--6{
            width: 80%;
            height: 80%;
            top: 250rem; 
            left: -20rem;
    
            @include respond(tab-port){
                top: 280rem;
                width: 200%;
                left: 0rem;
                transform: rotate(45deg);
                opacity: .4;
                khtml-opacity: .4;
                moz-opacity: .4;
            }
            
            
            @include respond(phone){
                top: 280rem;
                width: 300%;
                left: -20rem;
            }
        }
    
        &--7{
            width: 50%;
            height: 50%;
            top: 340rem; 
            left: -25rem;
            transform: rotate(-20deg);
    
            @include respond(tab-port){
                width: 100%;
                left: 25rem;
                top: 250rem; 
            }
            
            @include respond(phone){
                width: 200%;
                top: 380rem; 
                left: -25rem;
            }
        }
    
        &--8{
            width: 80%;
            height: 80%;
            top: 480rem; 
            left: 0%;
            transform: rotate(90deg);
    
            @include respond(tab-port){
                width: 200%;
            }
        }
    
        &--9{
            width: 80%;
            height: 80%;
            top: 360rem; 
            left: 50rem;
            opacity: .5;
            khtml-opacity: .5;
            moz-opacity: .5;
    
            @include respond(tab-port){
                width: 200%;
                left: 0rem;
                top: 650rem;
            }
            
            
            @include respond(phone){
                width: 300%;
                left: 0rem;
                top: 550rem;
            }
        }
    
        &--long-dots{
            width: 10%;
            height: 10%;
            top: 300rem; 
            left: 90%;
            opacity: .3;
            khtml-opacity: .3;
            moz-opacity: .3;
    
            @include respond(tab-port){
                width: 120%;
                left: -20rem;
                top: 580rem;
            }
            
            @include respond(phone){
                width: 150%;
                left: 0rem;
                top: 650rem;
            }
        }
    
        &--11{
            width: 50%;
            height: 50%;
            top: 460rem; 
            left: 70%;
            opacity: .3;
            khtml-opacity: .3;
            moz-opacity: .3;
    
            @include respond(tab-port){
                width: 80%;
                left: -2rem;
                top: 550rem;
            }
            
            @include respond(phone){
                width: 160%;
                left: -2rem;
                top: 520rem;
            }
        }
    
        &--12{
            width: 80%;
            height: 80%;
            top: 560rem; 
            left: 20%;
            transform: rotate(90deg);
            opacity: .5;
            khtml-opacity: .5;
            moz-opacity: .5;
    
            @include respond(tab-port){
                width: 200%;
                left: 5rem;
            }
        }
    
        &--13{
            width: 80%;
            height: 80%;
            top: 550rem; 
            left: -10%;
            opacity: .5;
            khtml-opacity: .5;
            moz-opacity: .5;
    
            @include respond(tab-port){
                width: 300%;
                top: 840rem;
            }
        }
    
        &--14{
            width: 60%;
            height: 60%;
            top: 595rem; 
            left: 50%;
    
            @include respond(tab-port){
                width: 100%;
                top: 780rem;
                left: 30rem;
            }
    
            @include respond(phone){
                width: 200%;
                top: 1040rem;
                left: -50rem;
            }
        }
    }
}