.header {   
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__button{
        position: absolute;
        top: 75%;
        left: 45%;
        animation: moveInDepths ease-out .9s;
    }
}