@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50rem); }
  80% {
    opacity: .8;
    transform: translateX(20); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

*,
*::before,
*::after {
  margin: 0px;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #0043ce;
  padding: 1rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #0f62fe; }

.heading-primary {
  width: 100%; }
  .heading-primary--main {
    font-family: "Playfair Display", serif;
    color: #0043ce;
    display: block;
    font-size: 7rem;
    font-weight: 900;
    letter-spacing: .4rem;
    line-height: 9rem;
    animation: moveInLeft .5s;
    animation-timing-function: ease-in; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 3.3rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: .5rem;
        font-size: 3rem; } }
  .heading-primary--sub {
    color: #0f62fe;
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    animation: moveInRight .5s;
    animation-timing-function: ease-in; }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        letter-spacing: 1.5rem;
        font-size: 3rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 1rem;
        font-size: 2rem; } }
  .heading-primary--shadow {
    text-shadow: 0 1rem 1rem #4589ff; }

.heading-secondary {
  font-size: 3rem;
  font-family: inherit;
  letter-spacing: .2rem;
  font-weight: 800;
  display: inline-block; }
  .heading-secondary--lightest {
    background-image: linear-gradient(to right, #d0e2ff, #edf5ff);
    -webkit-background-clip: text;
    color: transparent; }
  .heading-secondary--lighter {
    background-image: linear-gradient(to top, #4589ff, #d0e2ff);
    -webkit-background-clip: text;
    color: transparent; }
  .heading-secondary--light {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    color: #0043ce; }
  .heading-secondary--dark {
    background-image: linear-gradient(to right, #001d6c, #001141);
    -webkit-background-clip: text;
    color: transparent; }
  .heading-secondary:hover {
    transform: skewY(-1deg) skewX(-2deg) scale(1.02);
    text-shadow: 4rem 5rem 0.5rem, rgba(0, 17, 65, 0.8); }

.heading-tertiary {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0f62fe;
  letter-spacing: .2rem; }
  @media (max-width: 75em) {
    .heading-tertiary {
      font-size: 1.3rem; } }
  .heading-tertiary--light {
    color: #78a9ff;
    font-weight: 400; }

.heading-quaternary {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400; }
  .heading-quaternary--light {
    color: #d0e2ff; }
  .heading-quaternary--dark {
    color: #001d6c; }
  @media (max-width: 37.5em) {
    .heading-quaternary {
      font-size: 1.4rem;
      letter-spacing: .1rem; } }

.paragraph {
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 2rem;
  font-weight: 300; }
  .paragraph--light {
    color: #d0e2ff; }
  .paragraph--medium {
    color: #0f62fe; }
  .paragraph--med-dark {
    color: #0043ce;
    font-weight: 500; }
  .paragraph--dark {
    color: #002d9c;
    font-weight: 500; }
  .paragraph--big {
    font-size: 1.6rem;
    line-height: 2.5rem; }
  @media (max-width: 56.25em) {
    .paragraph {
      font-size: 1.4rem; } }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 1.6rem; } }

.list {
  margin: 0 3rem 0 3rem; }
  .list__item {
    list-style: square;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #002d9c; }
    .list__item:not(:last-child) {
      margin-bottom: 1.5rem; }

.u-center-text {
  text-align: center; }

.u-center-content {
  margin: 0 auto; }

.u-margin-bottom-huge {
  margin-bottom: 16rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 4rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem; } }

.u-margin-bottom-smallmedium {
  margin-bottom: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-top-big {
  margin-top: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 2rem; } }

.u-margin-top-medium-large {
  margin-top: 6rem; }
  @media (max-width: 37.5em) {
    .u-margin-top-medium-large {
      margin-top: 2rem; } }

.u-margin-top-x-big {
  margin-top: 12rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small-medium {
  margin-top: 3rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-left-small {
  padding-left: 1rem; }

.u-margin-left-small-medium {
  padding-left: 1rem; }

.u-margin-left-medium {
  padding-left: 4rem; }

.u-margin-left-big {
  margin-left: 8rem; }

.u-margin-left-bigger {
  margin-left: 11rem; }
  @media (max-width: 56.25em) {
    .u-margin-left-bigger {
      margin-left: 5rem; } }

.u-text-white {
  color: #edf5ff; }

.u-text-lightest-gray {
  color: #d0e2ff; }

.u-text-light-blue {
  color: #4589ff; }

.u-text-small {
  font-size: .8rem !important; }

.u-text-medium-weight {
  font-weight: 500; }

.u-text-center {
  text-align: center; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .3rem;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all .2s;
  position: relative;
  z-index: 1000;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 17, 65, 0.2); }
  .btn:hover::after {
    transform: scale(1.05);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 45, 156, 0.15);
  font-weight: 800; }

.btn--white {
  background-color: #d0e2ff;
  color: #0f62fe;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(15, 98, 254, 0.3); }
  .btn--white::after {
    background-color: #d0e2ff;
    font-weight: 800; }

.btn--black-button {
  background-color: #0043ce;
  font-weight: 800;
  color: #edf5ff; }
  .btn--black-button::after {
    background-color: #0f62fe; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .2s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text, .btn-text:link, .btn-text:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  transition: all .2s;
  border: none;
  cursor: pointer;
  letter-spacing: .1rem; }

.btn-text--black {
  color: black;
  border-bottom: 1px solid black;
  background-color: transparent; }
  .btn-text--black:hover {
    background-color: black;
    color: white; }

.btn-text--white {
  color: #d0e2ff;
  border-bottom: 1px solid #d0e2ff;
  background-color: transparent;
  font-weight: 600; }
  .btn-text--white:hover {
    background-color: #edf5ff;
    color: #001d6c; }

.btn-text--medium, .btn-text--medium:active, .btn-text--medium:visited, .btn-text--medium:link {
  color: #001d6c;
  border-bottom: 1px solid #0f62fe;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.6rem; }

@media (anyhover: hover) {
  .btn-text--medium:hover {
    color: #001d6c;
    border: none; } }

@media (anyhover: hover) {
  .btn-text:hover {
    font-size: 1.6rem;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem  #00000038; } }

.btn-text:active, .btn-text:focus {
  transform: translateY(-1px); }

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 17, 65, 0.7);
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  transition: all .2s; }
  .popup__content {
    width: 75%;
    height: 50rem;
    background-color: #001d6c;
    box-shadow: 0 1.5rem 4rem rgba(0, 45, 156, 0.25);
    border-radius: 0.5rem;
    display: table;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
  .popup__left {
    width: 33.33333333%;
    display: table-cell; }
    .popup__left--img {
      display: block;
      width: 100%; }
  .popup__right {
    display: table-cell;
    width: 66.66666666%;
    vertical-align: middle;
    padding: 3rem 5rem;
    position: relative; }
  .popup__text {
    font-size: 1.2rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 0.5px solid #002d9c;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close, .popup__close:link, .popup__close:visited {
    display: block;
    position: absolute;
    top: 2rem;
    right: 3rem;
    text-decoration: none;
    color: #78a9ff;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
    transition: all .5s; }
  .popup__close:hover {
    color: #d0e2ff; }

.card {
  perspective: 300rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 36rem;
  width: 60%;
  margin: 0 auto;
  margin-top: 10rem; }
  .card__side {
    margin-top: 20rem;
    height: 36rem;
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 45, 156, 0.15);
    background-color: #d0e2ff; }
  .card--flip {
    transform: rotateY(360deg); }
  .card--flip .card__side--back {
    transform: rotateY(0deg); }
  .card--flip .card__side--front {
    transform: rotateY(180deg); }
  .card--no-flip {
    transform: rotateY(0); }
  .card__side--back {
    transform: rotateY(-180deg); }
  .card__side--front {
    transform: rotateY(0); }
  .card__about {
    padding: 4rem;
    margin: 0 auto;
    width: 90%; }
  .card__text {
    margin: 0 auto; }
  .card__tech-logos {
    background-color: #edf5ff;
    margin: 0 auto;
    width: 100%;
    height: 150%;
    padding: 4rem 8rem 8rem 8rem;
    border: 1px solid #4589ff;
    text-align: center; }
  .card__logo-img {
    height: 3rem;
    margin-bottom: 4rem; }
    .card__logo-img--sq {
      height: 3.5rem; }
    .card__logo-img--wide {
      height: 2.5rem; }
    .card__logo-img--x-wide {
      height: 2rem; }
    .card__logo-img:not(:last-child) {
      margin-right: 6rem; }
  .card__button-container {
    position: absolute;
    width: 100%;
    top: 54rem;
    margin: 0 auto;
    margin-top: 10rem; }
    .card__button-container--right {
      position: absolute;
      right: .5rem; }

.slideshow {
  width: 100%;
  padding: 4rem;
  position: relative;
  height: 60rem;
  background-color: #a6c8ff;
  border: 1px solid #d0e2ff;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(15, 98, 254, 0.5); }
  .slideshow__main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .slideshow__video-big {
    object-fit: contain;
    padding: 2rem;
    width: 100%;
    height: 38rem;
    display: block;
    margin: 0 auto;
    animation: fadeIn ease-in-out .5s; }
  .slideshow__img-big {
    object-fit: contain;
    padding: 2rem;
    max-height: 98%;
    height: 36rem;
    display: block;
    margin: 0 auto; }
  .slideshow__image-wrap {
    border: 1px solid #d0e2ff;
    border-radius: 0.5rem;
    background-color: white;
    margin: 2rem 2rem 0 2rem;
    height: 34rem;
    animation: fadeIn ease-in-out .5s; }
  .slideshow__line {
    position: absolute;
    top: 39.2rem;
    left: 0;
    height: .2rem;
    width: 100%;
    background-color: #d0e2ff;
    margin: 0 auto; }
  .slideshow__thumbs {
    position: absolute;
    top: 35rem;
    left: 0;
    margin-top: 6rem;
    width: 100%;
    display: block;
    padding: 2rem; }
  .slideshow__thumb-wrap {
    width: 100%;
    height: 14rem;
    background-color: white;
    padding: 1rem;
    text-align: center;
    animation: fadeIn ease-in-out 1s;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(15, 98, 254, 0.4); }
  .slideshow__thumb {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    opacity: 60%;
    border-radius: 0.5rem; }
    .slideshow__thumb--selected {
      opacity: 100%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 90rem; } }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem !important; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-bottom: 4rem; } }
    @media (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-bottom: 4rem; } }
  .row [class^="col-1of5"] {
    float: left; }
    .row [class^="col-1of5"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1of2 {
    width: calc( (100% - 6rem) /2); }
  .row .col-1of3 {
    width: calc((100% - 6rem * 2) /3); }
  .row .col-2of3 {
    width: calc((((100% - (6rem * 2)) /3 ) * 2 ) + 6rem); }
  .row .col-1of4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .col-2of4 {
    width: calc((100% - 6rem) /2); }
  .row .col-3of4 {
    width: calc( 100% - ((100% - (6rem * 3)) / 4) - 6rem); }
  .row .col-1of5 {
    width: calc((100% - (2rem * 4)) / 5); }

.header {
  height: 95vh;
  background-color: #d0e2ff;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 90%); }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__shadow-wrapper {
    width: 70%;
    height: 37rem;
    top: 10rem;
    margin: 0 auto;
    position: relative; }
    .header__shadow-wrapper--dot-shadow, .header__shadow-wrapper--dot-shadow::before {
      position: absolute;
      display: block; }
    .header__shadow-wrapper--dot-shadow {
      width: 100%;
      height: 100%; }
    .header__shadow-wrapper--dot-shadow::before {
      top: 1.5rem;
      left: 1.5rem;
      content: "before";
      z-index: -1;
      background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3'%3E%3Ccircle cx='2.5' cy='2.5' r='.5' fill='%23242a49'/%3E%3C/svg%3E") repeat bottom left;
      width: 100%;
      height: 100%; }
  .header__text-box {
    background-color: #edf5ff;
    border: 1px solid #0f62fe;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 4rem 0 4rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__shape {
    width: 14rem;
    height: 14rem;
    clip-path: circle(50% at 50% 50%);
    margin: 0 auto; }
  .header__img {
    width: 100%; }
  .header__button {
    position: absolute;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%); }

.footer {
  background-color: #001141;
  padding: 8rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 4rem; }
  .footer__logo {
    width: 10rem;
    -webkit-filter: drop-shadow(0.5rem 1rem 1rem #001141);
    filter: drop-shadow(0.5rem 1rem 1rem #001141);
    transition: all .5s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased; }
    .footer__logo:hover {
      transform: scale(1.05) perspective(1px);
      -webkit-filter: drop-shadow(0.5rem 2rem 1rem #001141);
      filter: drop-shadow(0.5rem 2rem 1rem #001141); }
  .footer__line-nav {
    border-top: 1px solid #a6c8ff;
    padding-top: .5rem;
    display: block;
    width: 70%;
    margin: 0 auto; }
    @media (max-width: 56.25em) {
      .footer__line-nav {
        width: 30%; } }
  .footer__list {
    list-style: none;
    text-align: center; }
  .footer__item {
    display: inline-block;
    transition: .5s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: all .5s; }
    @media (max-width: 56.25em) {
      .footer__item {
        display: block; } }
    .footer__item:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .footer__item:not(:last-child) {
          margin-right: 0; } }
    .footer__item:hover {
      transform: scale(1.05) perspective(1px); }
  .footer__link {
    font-size: 1.1rem; }
    .footer__link:link, .footer__link:visited {
      color: #a6c8ff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: .5rem;
      padding: .5rem;
      text-shadow: 1rem 1rem 1rem #001141; }
    .footer__link:hover, .footer__link:active {
      border-bottom: 0.5px solid #edf5ff;
      color: #edf5ff;
      text-shadow: 2rem 2rem 2rem #001141; }
  .footer__copyright {
    display: block;
    text-align: center;
    margin-top: 12rem;
    font-size: 1.2rem;
    color: #a6c8ff; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        margin-top: 6rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-image: radial-gradient(#002d9c, #001141);
  position: fixed;
  height: 8rem;
  width: 8rem;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1.5rem 4rem rgba(0, 45, 156, 0.25);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__shadow-wrapper {
  color: transparent;
  width: 100%;
  height: 100%;
  z-index: -50;
  position: relative; }
  .navigation__shadow-wrapper--dot-shadow-round, .navigation__shadow-wrapper--dot-shadow-round::before {
    position: absolute;
    display: block; }
  .navigation__shadow-wrapper--dot-shadow-round {
    width: 100%;
    height: 100%; }
  .navigation__shadow-wrapper--dot-shadow-round::before {
    border-radius: 50%;
    top: -5rem;
    left: 1rem;
    content: "before";
    z-index: -1;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3'%3E%3Ccircle cx='2.5' cy='2.5' r='.5' fill='%23242a49'/%3E%3C/svg%3E") repeat bottom left;
    width: 100%;
    height: 100%; }

.navigation__background {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#001141, #002d9c);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.33, 1, 0.68, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 2.8rem;
      right: 2.8rem; } }

.navigation__nav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: opacity width 0.8s cubic-bezier(0.33, 1, 0.68, 1); }

.navigation__list {
  list-style: none;
  text-align: center;
  width: 100%;
  transform: scale(0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation__items {
  margin: 2rem; }

.navigation__link, .navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #78a9ff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #78a9ff 50%);
  background-size: 240%;
  transition: all .8s; }
  .navigation__link span, .navigation__link:link span, .navigation__link:visited span {
    margin-right: 2rem;
    display: inline-block; }

.navigation__link:hover {
  background-position: 100%;
  color: #002d9c;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(70); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.8rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 2.8rem;
    height: 1px;
    background-color: #78a9ff; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.7rem; }
  .navigation__icon::after {
    top: .7rem; }

.navigation__button:hover .navigation__icon::before {
  transform-origin: bottom right;
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  transform-origin: right;
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.body {
  background-color: #4589ff; }

.intro {
  height: 100vh;
  position: relative; }

.projects {
  background-color: #78a9ff;
  border-radius: 0.5rem;
  border: 1px solid #92baff;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 4rem;
  height: 900vh;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(15, 98, 254, 0.2); }
  .projects__section {
    background-color: #92baff;
    border-radius: 0.5rem;
    border: 1px solid #a6c8ff;
    margin: 3rem;
    margin-bottom: 8rem;
    width: 95.5%;
    padding: 3rem 3rem 6rem 3rem;
    display: block;
    box-shadow: 0 1rem 2rem rgba(15, 98, 254, 0.5); }
  .projects__header {
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    max-width: 114rem;
    margin-bottom: 6rem;
    padding: 3rem;
    background-color: #a6c8ff;
    border-radius: 0.5rem;
    border: 1px solid #d0e2ff;
    box-shadow: 0 1rem 2rem rgba(15, 98, 254, 0.5); }
    .projects__header--small {
      max-width: 80rem; }
  .projects__description {
    width: 100%;
    max-width: 114rem;
    margin: 0 auto;
    height: 60rem;
    background-color: #a6c8ff;
    border-radius: 0.5rem;
    padding: 3rem;
    border: 1px solid #d0e2ff;
    box-shadow: 0 1rem 2rem rgba(15, 98, 254, 0.5); }
    .projects__description--short {
      height: 80rem; }
    .projects__description--75 {
      height: 75rem; }
    .projects__description--xm-short {
      height: 65rem; }
    .projects__description--x-short {
      height: 55rem; }
    .projects__description--50 {
      height: 50rem; }
    .projects__description--xxm-short {
      height: 48rem; }
    .projects__description--40 {
      height: 40rem; }
    .projects__description--44 {
      height: 44rem; }
    .projects__description--xx-short {
      height: 19rem;
      margin-top: 6rem; }
    .projects__description--xxx-short {
      height: 15rem;
      margin-top: 5rem; }
  .projects__intro {
    margin: 3rem;
    padding: 3rem;
    margin-bottom: 8rem;
    height: 100vh;
    border-radius: 0.5rem;
    background-color: #92baff;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 1rem 2rem rgba(15, 98, 254, 0.5); }
  .projects__intro-card {
    margin: 8rem;
    border-radius: 0.5rem;
    background-color: #a6c8ff;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 1rem 2rem rgba(15, 98, 254, 0.5);
    padding: 6rem;
    text-align: center; }
  .projects__card-thumbs {
    margin: 0 auto;
    width: 90%;
    height: 25rem;
    padding: 3rem;
    padding-top: 6rem;
    border-radius: 0.5rem;
    background-color: #d0e2ff;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 1rem 2rem rgba(15, 98, 254, 0.5); }
    .projects__card-thumbs__thumb-wrapper {
      position: relative;
      width: 14rem;
      padding: 1rem; }
      .projects__card-thumbs__thumb-wrapper--thumb-image {
        max-width: 100%;
        max-height: 100%;
        height: 10rem;
        object-fit: contain;
        background-color: white;
        border-radius: 0.5rem; }
      .projects__card-thumbs__thumb-wrapper--thumb-title {
        position: absolute;
        top: 3rem;
        left: 1rem; }
  .projects__tech-logos {
    text-align: center; }
  .projects__logo-img {
    height: 4rem;
    margin-bottom: 2rem; }
    .projects__logo-img--md {
      height: 3rem; }
    .projects__logo-img--xl {
      height: 2rem; }
    .projects__logo-img--xxl {
      height: 2rem; }
    .projects__logo-img:not(:last-child) {
      margin-right: 6rem; }
