.body{
    position: relative;
    background-color: $darker-blue;
       overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.intro{
    height: 100vh;

    &__card-container{
        position: absolute;
        display: fixed;
        width: 80%;
        top: 9%;
        left: 10%;
        z-index: 3;

        @include respond(big-desktop){
            top: 12%; 
        }

        @include respond(tab-port){
            top: 12%;
            left: 5%;
            width: 90%;    
        }

        @include respond(phone){
            top: 5.5%; 
        }
    }

    &__shape{
        position: absolute;
        width: 80%;
        top: 10%;
        left: 22%;
        display: fixed;
        z-index: 0;
        opacity: .9;
        khtml-opacity: .9;
        moz-opacity: .9;

        @include respond(big-desktop){
            top: 12%; 
        }

        @include respond(tab-port){
            width: 120%;    
            top: 12%;
        }
        
        @include respond(phone){
            width: 180%;  
            top: 5.5%;
        }
        
        &--main{
            top: 20%;
            left: -5.5%;
            
            @include respond(tab-port){
                top: 15%;   
                left: -22%;
            }

            
            @include respond(phone){
                top: 10%;
                left: -52%;
            }
        }
        
    }
}
