.body{
    position: relative;
    background-color: $darker-blue;
}

.intro{
    height: 100vh;

    &__card-container{
        position: absolute;
        display: fixed;
        width: 80%;
        top: 9%;
        left: 10%;
        z-index: 3;

        @include respond(big-desktop){
            top: 12%; 
        }

        @include respond(tab-port){
            top: 9.5%;
            left: 5%;
            width: 90%;    
        }

        @include respond(phone){
            top: 6%; 
        }
    }

    &__shape{
        position: absolute;
        width: 80%;
        top: 10%;
        left: 22%;
        display: fixed;
        z-index: 0;
        opacity: .9;

        @include respond(big-desktop){
            top: 12%; 
        }

        @include respond(tab-port){
            width: 100%;    
        }
        
        @include respond(phone){
            top: 6.5%;
            width: 180%;  
        }
        
        &--main{
            top: 20%;
            left: -5.5%;
            
            @include respond(tab-port){
                top: 15%;   
                left: -22%;
            }

            
            @include respond(phone){
                left: -22%;
            }
        }
        
    }
}
