.projects{
    background-color: $lightish-blue;
    width: 95%;
    margin: 0 auto;
    height: 100vh;


    /// P R O J E C T S  
    &__pentimento{  
    }



    /// B A S E
    &__header{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 8rem;
        padding-top: 4rem
    }

    &__description{
        width: 100%;
        background-color: $medium-light-blue;
        padding: 4rem;
    }


}