.projects{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4rem;
    position: relative;

    &__section{
        width: 100%;
        display: block;
    }

    /// P R O J E C T S  

    &__header{
        text-align: left;
        max-width: $grid-width;
        margin: 10rem 0 2rem 5rem;

        &--small{
            max-width: 80rem;
            margin-left: 0;
        }
    }

    &__description{
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: $grid-width;
        margin: 0 auto;
        height: 60rem;
        padding: 3rem;
        border: 1px solid $medium-light-blue;
        background-color: rgba($color: $darkester-blue, $alpha: .8);

        @include basic-blue-shadow(.5);

        &--short{height: 80rem;}

        &--75{height: 75rem;}
        
        &--xm-short{height: 65rem;}

        &--x-short{height: 55rem;}

        &--60{height: 60rem}

        &--55{height: 55rem}

        &--50{height: 50rem;}

        &--48{height: 48rem;}

        &--45{height: 45rem}

        &--44{height: 44rem;}

        &--40{height: 40rem;}

        &--35{height: 35rem;}

        &--30{height: 30rem;}


        &--xx-short{
            height: 19rem;
            margin-top: 6rem;
        }

        &--xxx-short{
            height: 15rem;
            margin-top: 5rem;
        }

        @include basic-blue-shadow(.2)
    }

    &__shapes{
        position: relative;
        z-index: 0;
    }

    &__background{
        position: absolute;
        width: 90%;
        height: 90%;
        top: -60%;
        left: 10rem;
        opacity: .7;

        &--2{
            width: 80%;
            height: 80%;
            top: 90rem; 
            left: -50rem;
        }

        &--3{
            width: 50%;
            height: 50%;
            top: 150rem; 
            left: -25rem;
            opacity: .4;
        }

        &--4{
            width: 60%;
            height: 60%;
            top: 165rem; 
            left: 60rem;
            opacity: .8;
        }

        &--5{
            width: 50%;
            height: 50%;
            top: 250rem; 
            left: 110rem;
            transform: rotate(90deg);
        }

        &--6{
            width: 80%;
            height: 80%;
            top: 250rem; 
            left: -20rem;
        }

        &--7{
            width: 50%;
            height: 50%;
            top: 340rem; 
            left: -10rem;
        }

        &--2{
            width: 80%;
            height: 80%;
            top: 90rem; 
            left: 50rem;
        }

        &--2{
            width: 80%;
            height: 80%;
            top: 90rem; 
            left: 50rem;
        }


        &--2{
            width: 80%;
            height: 80%;
            top: 90rem; 
            left: 50rem;
        }
    }

    &__intro{
        position: relative;
        margin: 12rem;
        width: 80%;
        padding: 4rem;
        text-align: center;
        margin-bottom: 40rem;
        
        &--button{
            position: absolute;
            top: 100%;
            right: 4%;
        }
    }
    

    &__intro-thumbs{
        margin: 0 auto;
        width: 100%;
        height: 25rem;;
        padding-top: 4rem;
        padding-bottom: 8rem;
        
        &__thumb-wrapper{
            position: relative;
            width: 14rem;
            padding: 1rem;
            transition: all ease-in .4s;

            
            &--thumb-image{
                max-width: 100%;
                max-height: 100%;
                height: 10rem;
                object-fit: contain;
                background-color: white;
                border-radius: $border-radius-sm;
            }
        
            &--thumb-title{
                position: absolute;
                color: white;
                top: 3rem;
                left: 1rem;
            }

            &:not(:last-child){
                margin-right: 2rem;
            }

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    &__tech-logos{
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem;
        
        &__wrapper{
            max-width: 8rem;
            max-height: 5rem;

            &__logo-img{
        
            }
        }
    }
}