
.btn {
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .3rem;
        padding: 1.5rem 3rem;
        border-radius: $border-radius-big;
        display: inline-block;
        font-size: 1.1rem;
        font-weight: 400;
        transition: all .2s;
        position: relative;
        z-index: 1000;


        //button edits
        border: none;
        cursor: pointer;
    }

    @include dither-primary-button-hover;


    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: $box-shadow-light;
    }


    &--white {
        background-color: $light-blue;
        font-weight: 600;
        color: black;

        &::after {
            background-color: $light-blue;
        }
    }

    &--black-button{
        background-color: $darker-blue;
        font-weight: 800;
        color: $white;

        &::after {
            background-color: $dark-blue;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: $border-radius-round;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .2s;
    }

    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &,
    &:link, 
    &:visited {
        display: inline-block;
        text-decoration: none;
        padding: 1rem;
        transition: all .2s;

        //additions
        border: none;
        cursor: pointer;
        letter-spacing: .1rem;
    }
    
    &--black{
        color: black;
        border-bottom: 1px solid black;
        background-color: transparent;
        
        &:hover{
            background-color: black;
            color: white;
        }
    }

    &--white{
        color: $light-blue;
        border-bottom: 1px solid $light-blue;
        background-color: transparent;
        font-weight: 600;
        
        &:hover{
            background-color: $white;
            color: $darkest-blue;
        }
    }

    &--medium{
        &,
        &:active,
        &:visited,
        &:link {
            color: $darkest-blue;
            border-bottom: 1px solid $dark-blue;
            background-color: transparent;
            font-weight: 600;
            font-size: 1.6rem;
        }

        @media (anyhover: hover){
            &:hover{
                color: $darkest-blue;
                border: none;
            }
        } 
    }

    @media (anyhover: hover){
        &:hover{
            font-size: $default-font-size;
            transform: translateY(-2px);
            box-shadow: 0 1rem 2rem  #00000038;
        }
    }

    // &:hover{
    //     font-size: $default-font-size;
    //     transform: translateY(-2px);
    //     box-shadow: 0 1rem 2rem  #00000038;
    // }


    &:active,
    &:focus {
        transform: translateY(-1px);
    }
}