.card{
    perspective: 300rem;
    -moz-perspective: 150rem;
    position: relative;
    height: $card-height;
    width: 60%;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 10rem;


    // F R O N T   S I D E    S T Y L I N G 

    &__side{
        margin-top: 20rem;
        height: $card-height;
        transition: all 1s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: $border-radius-sm;
        box-shadow: $box-shadow-light;
        background-color: $light-blue;

    }

    // F U N C T I O N A L I T Y
    //card flips whole 360 to retain right side viewing, while the sides flip-180 to be seen or hidden

    &--flip {
        transform: rotateY(360deg);
    }

    &--flip &__side--back{
        transform: rotateY(0deg);
    }

    &--flip &__side--front{
        transform: rotateY(180deg);
    }

    
    &--no-flip {
        transform: rotateY(0);
    }
    
    &__side--back{
        transform: rotateY(-180deg)

    }

    &__side--front{
        transform: rotateY(0);
    }



    &__about{
        padding: 4rem;
        margin: 0 auto;
        width: 90%;
    }

    &__text{
        margin: 0 auto;
    }

    

    // B A C K   S I D E    S T Y L I N G

    &__tech-logos{
        background-color: $white;
        margin: 0 auto;
        width: 100%;
        height: 150%;
        padding: 4rem 8rem 8rem 8rem;
        border: 1px solid $medium-blue;
        text-align: center;
    }

    &__logo-img{
        height: 3rem;
        margin-bottom: 4rem;
        

        &--sq{
            height: 3.5rem;
        }

        &--wide{
            height: 2.5rem
        }

        &--x-wide{
            height: 2rem;
        }

        &:not(:last-child){
            margin-right: 6rem;
        }
    }

    &__button-container{
        position: absolute;
        width: 100%;
        top: 54rem;
        margin: 0 auto;
        margin-top: 10rem;

        &--right{
            position: absolute;
            right: .5rem;
        }
    }
    
}   