.header-composition{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: $darker-blue;

    &__text-box {
        text-align: center;
        width: 90%;
        height: 90%;
        
        @include center-axis(50%, 50%);
    }

    &__background{
        position: relative;
        width: 100%;
        height: 100%;

        &--image{
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            left: 0%;
        }
        &--shape-1{
            mix-blend-mode: overlay;
        }
        &--name {
            animation: moveInMarxist ease-in .9s ;
        }
        &--shape-4,
        &--shape-7,
        &--circle{
            animation: moveInMarxist ease-in .7s ;
        }
        &--title,
        &--background-2,
        &--shape-2,
        &--logo {
            animation: moveInCeiling ease-in .6s ;
        }
        &--shape-3{
            animation: moveInFloor .5s ease-in;
        }
        &--background-1{
            perspective: 150rem;
            animation: implode ease-in .5s ;
        }
        &--shape-1,
        &--shape-6 {
            animation: moveInFloor .4s ease-in;
        }
        &--shape-5,
        &--shape-8{
            animation: moveInDictator ease-in .7s ;
        }
    }

    
}